*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.space{
    padding: 100px 0;
}
.w-5{
    width: 20%;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    position: absolute;
    z-index: 9;
}
/* banner */
.banner{
    background-image: url(../images/bg-1.jpg);
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index:-1 ;
}
/* about */
.ab{
    border: 0.3px solid rgb(182, 11, 151);
    text-decoration: none;
    background-color:rgb(182, 11, 151) ;
    color: white;
    padding: 12px;
    border-radius: 20px 20px 20px 0;
}
.ab:hover{
    border-radius: 0 20px 20px 20px;
}
.testimonial-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:rgb(234, 7, 117, 0.691) ;
    margin-left: 150px;
}
.testimonial-icon img{
    text-align: center;
    margin-top: 8px;
    margin-left: 6px;
}
/* team  */
.team-item img{
    width: 100%;
    height: 370px;
}
.team-item i{
    display: block;
}
.team-icon{
    position: absolute;
    bottom: 0;
    left: 0;
}
.team-content{
    position: relative;
}
.team-icon i{
    background-color:#F2ECF3;
    color:rgb(182, 11, 151);
    padding: 6px 10px;
    margin: 10px;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.2s linear;
}
.box{
    background-color: white;
    transition: all 0.2s linear;
}
.team-item:hover .box{
    background-color: rgb(232, 98, 208);
}
.team-item:hover .team-icon i{
    opacity: 1;
}
.team-icon i:hover{
    background-color:rgb(234, 7, 117, 0.691);
    color: white;
}
/* footer  */
.f-content span{
    color: #a4a3b5 !important;
    font-size: 11px;
}

.f-menu a{
    text-decoration: none !important;
    padding: 4px 0 !important;
}
.f-content{
    font-size: 16px;
    color: #88879e !important;
}
.icons{
    border: 1px solid rgb(182, 11, 151);
    padding:  9px;
    border-radius: 3px;
}
.qustion-content{
    font-size: 14px;
}
.qustion-text p{
    font-size: 14px !important;
}
footer .heading{
    color: #2a3a60 !important;
}
.f-menu ul li a{
    transition: all 0.2s linear;
}
.f-menu ul li:hover i {
    color:rgb(182, 11, 151)  !important;
}
.f-menu ul li:hover a{
    color: rgb(182, 11, 151) !important;
}

.copyline{
    background: linear-gradient(45deg , rgba(234, 7, 117, 0.691),rgba(73, 2, 36, 0.691));
}