*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.space{
    padding: 100px 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.w-5{
    width: 20%;
}
header{
    position: absolute;
    z-index: 9;
}
/* banner */
.banner{
    background-image: url(../images/bg-1.jpg);
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index:-1 ;
}
/* footer  */
.f-content span{
    color: #a4a3b5 !important;
    font-size: 11px;
}

.f-menu a{
    text-decoration: none !important;
    padding: 4px 0 !important;
}
.f-content{
    font-size: 16px;
    color: #88879e !important;
}
.icons{
    border: 1px solid rgb(182, 11, 151);
    padding:  9px;
    border-radius: 3px;
}
.qustion-content{
    font-size: 14px;
}
.qustion-text p{
    font-size: 14px !important;
}
footer .heading{
    color: #2a3a60 !important;
}
.f-menu ul li a{
    transition: all 0.2s linear;
}
.f-menu ul li:hover i {
    color:rgb(182, 11, 151)  !important;
}
.f-menu ul li:hover a{
    color: rgb(182, 11, 151) !important;
}

.copyline{
    background: linear-gradient(45deg , rgba(234, 7, 117, 0.691),rgba(73, 2, 36, 0.691));
}